{
    "from": "exmaple@gmail.com",
    "to": "examplesendto@gmail.com",
    "addr": "smtp.gmail.com:587",
    "auth": {
        "username": "exmaple@qq.com",
        "password":"<password>",
        "host": "smtp.gmail.com"
    }
}
